<html>
<title> Doodle Ideas </title>
<body>
<h1> Doodle Idea Generator </h1>

<p>
    This app generates drawing ideas for when you're completely stumped on what to draw but fancy relaxing anyway ^^
</p>

   <h2> Ideas shown in box below! </h2>

<br>
<div style="width:500px;height:100px;border:1px solid rgb(116, 72, 219); background-color: rgb(0,100,0)">
    <p style="color:ivory">
        {{doodle}}
    </p>
</div>


<br>

<form action= "{{url_for("main")}}">
    <td><input type="submit" value= "Generate new idea :D "></td>
</form>

<h2> Last Few Ideas </h2>
<div style="width:500px;height:200px;border:1px solid rgb(116, 72, 219); background-color: rgb(0,100,0)">
    <p>
        {% for prior in doodlesprior %}
           <p style="color:ivory">{{ prior.doodle }}</p> 
        {% endfor %}
    </p>
</div>
<br>
<a href=https://github.com/hjt523/QA_practical_devops_project.git> For further documentation and access to the source code, visit my Github page!
</body>
</html>
